:root {
    --mauve: #73626E;      /* RGB: 115, 98, 110 */
    --lavender: #A8A9BF;   /* RGB: 168, 169, 191 */
    --cream: #F2E7C4;      /* RGB: 242, 231, 196 */
    --taupe: #A69485;      /* RGB: 166, 148, 133 */
    --light-gray: #F2F2F2; /* RGB: 242, 242, 242 */
    --sage: #797D70;       /* RGB: 121, 125, 112 */
  }
