{% extends "layout.html" %}

{% block title %}ASIJ CNF 2025{% endblock %}
{% block background %}{% endblock %}
{% block lead %}{% endblock %}

{% block page_content %}

<div class="dropwown about">
    <h1 class="dropdown-header">About SUPA Creative Non-Fiction</h1>
    <p class="dropdown-content">This is a brief description about SUPA Creative Non-Fiction.</p>
</div>
<div class="dropdown">
    <h1 class="dropdown-header">What is CNF</h1>
    <p class="dropdown-content">Creative Non-Fiction (CNF) is a genre of writing that uses literary
        styles and techniques
        to create
        factually
        accurate narratives.</p>
</div>

<style>
    body {
        margin: 0;
        padding: 0;
    }
</style>

{% endblock %}