{% extends "layout.html" %}

{% block title %}Sasha's Page{% endblock %}
{% block background %}{% endblock %}
{% block lead %}{% endblock %}

{% block page_content %}



<div class="row">
    <div id="timer" class="col">
        <div class="container">
            <div class="row">
                <div class="col" id="status">
                    <button onclick="changeStatus()">
                        <h1>Focus</h1>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col timer">
                    <div id="countdown-bg">
                        <h1 id="countdown"></h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col start">
                    <button id="startButton" onclick="startCountdown()">Start</button>
                </div>
            </div>
            <div class="row">
                <div class="col reset">
                    <button onclick="resetCountdown()">
                        <img id="reset" src="static/assets/curved-arrow.png">
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="to-do" class="col">
        <h1>To Do List</h1>
        <input type="text" id="myInput" placeholder="Title...">
        <span class="addBtn" onclick="addTask()">Add</span>
        <span class="clearBtn" onclick="clearTask()">Clear</span>

        <ul id="myUL">
        </ul>
    </div>

</div>

<script>
    var cur_status = "chill";
    var started = false;
    var countdownElement = document.getElementById('countdown');
    var startButton = document.getElementById('startButton');
    var timer_bg = document.getElementById('timer');
    var points = document.getElementById("cur_points");  // Make sure 'points' is defined in your HTML
    var timer = document.getElementById("timer");
    var to_do = document.getElementById("to-do");
    var focus_duration = 1800;
    var break_duration = 300;
    var cur_points = 0;
    var countdown = focus_duration;
    var countdownInterval;

    points.innerText = cur_points;

    timer.classList.add("focus");
    timer.classList.remove("break");
    to_do.classList.add("focus");
    to_do.classList.remove("break");
    document.body.classList.add('focus');
    document.body.classList.remove('break');


    function startCountdown() {
        if (countdownInterval) {
            clearInterval(countdownInterval);
            countdownInterval = null;
            startButton.textContent = 'Start';
            timer_bg.classList.remove('started');
            document.body.classList.remove('started');

        } else {
            timer_bg.classList.add('started');
            startButton.textContent = 'Stop';

            countdownInterval = setInterval(function () {
                var minutes = Math.floor(countdown / 60);
                var seconds = countdown % 60;
                countdownElement.innerText = formatTime(minutes, seconds);
                if (countdown <= 0) {
                    clearInterval(countdownInterval);
                    countdownElement.innerText = 'Times up!';
                    updatePoints(3);
                    
                } else {
                    countdown--;
                }
            }, 1000);
        }
    }

    function formatTime(minutes, seconds) {
        var formattedMinutes = String(minutes).padStart(2, '0');
        var formattedSeconds = String(seconds).padStart(2, '0');
        return formattedMinutes + ':' + formattedSeconds;
    }


    function resetCountdown() {
        var minutes = Math.floor(countdown / 60);
        var seconds = countdown % 60;
        countdownElement.innerText = formatTime(minutes, seconds);
        document.body.classList.remove('started');
        timer_bg.classList.remove('started');
        countdown = 1800;
        clearInterval(countdownInterval);
    }

    if (started === false) {
        timer.classList.add("stopped");
        document.body.classList.add('stopped');
    }
    else {
        timer.classList.add("started");
        document.body.classList.add('started');

    }

    function addTask() {
        var inputValue = document.getElementById("myInput").value;
        if (inputValue === '') {
            alert("You must write something!");
            return;
        }

        var li = document.createElement("li");
        li.appendChild(document.createTextNode(inputValue));
        document.getElementById("myUL").appendChild(li);
        document.getElementById("myInput").value = '';

        li.onclick = function () {
            this.classList.toggle('checked');
            updatePoints(1);
        };
    }

    function clearTask() {
        var list = document.getElementById("myUL");
        list.innerHTML = '';
    }

    function updatePoints(addPoints) {
        cur_points += addPoints;
        points.innerText = cur_points;
    }

    function changeStatus() {
        var status = document.getElementById("status");
        if (cur_status === 'focus') {
            status.innerHTML = '<button onclick="changeStatus()"><h1>Break</h1></button>';
            cur_status = "break";
            countdownElement.innerText = "05:00";
            timer.classList.add("break");
            timer.classList.remove("focus");
            to_do.classList.add("break");
            to_do.classList.remove("focus");
            document.body.classList.add('break');
            document.body.classList.remove('focus');
            countdown = 300;

        } else {
            status.innerHTML = '<button onclick="changeStatus()"><h1>Focus</h1></button>';
            cur_status = "focus";
            countdownElement.innerText = "30:00";
            timer.classList.add("focus");
            timer.classList.remove("break");
            to_do.classList.add("focus");
            to_do.classList.remove("break");
            document.body.classList.add('focus');
            document.body.classList.remove('break');
            countdown = 1800;
        }
    }

    function setTimer() {
        if (cur_status === "focus") {
            countdown = focus_duration;
        } else {
            countdown = break_duration;
        }
    }


</script>
{% endblock %}