{% extends "layout.html" %}

{% block title %}ASIJ CNF 2025{% endblock %}
{% block background %}{% endblock %}
{% block lead %}{% endblock %}

{% block page_content %}

<div clas="wrapper">

    <section class="book-section row">
        <div class="book-image col">
            <img src="https://lh4.googleusercontent.com/OliLwQ0e0xC_Ret1FbvT4IRzjNHF1y97b_azPKPur89r_nDqksljc9exAT-W-t7D2SPkTtj06khlCu0WR7gpYSieX7HYwgVmJNd9WRiX4HBeXPNI1e2XYrPvurJL8dLrog=w1280" class="CENy8b" role="img" style="width: 100.0000004518%; margin: 0% 0 0% -0.0000002259%">
        </div>
        <div class="book-description col">
            <p>Komorebi: Illuminating Nature's Poetry captures the essence of 'Komorebi,' the Japanese word for sunlight filtering through leaves. This anthology weaves together prose and poetry from diverse voices, celebrating the ephemeral beauty and profound tranquility found in moments of natural light and shadow. Through vivid imagery and introspective musings, each piece paints a unique portrait of the interconnectedness between humanity and the natural world. From ancient forests to urban green spaces, 'Komorebi' invites readers to pause, reflect, and rediscover the timeless magic of sunlight dancing through leaves.</p>
            <p style="font-size: 20px; color: #e67e22; font-weight: bold;">￥2,500</p>
        </div>
    </section>
</div>
<style>
    h3,
    p {
        text-align: center;
    }

    .book-section {
        height: 50vh;
        background-color: var(--cream);
        opacity: 0.7;
    }
    .wrapper {
        top: 0;
        width: 100%;
        height: 100%;
    }

    body {
        margin: 0;
        padding: 0;
    }
    .book-image {
        width: 50vh;
    }
</style>

{% endblock %}