<!doctype html>
<html lang="en">

<head>
    <!--favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename = 'style.css') }}" rel="stylesheet">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}{% endblock %} | ASIJ CNF Frazier 2025</title>

    <style>
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        #body {
            flex: 1;
            display: flex;
            flex-direction: column;
        }

        .container-flex {
            flex: 1;
        }
    </style>
</head>

<body>
    <!-- Navigation -->
    {% include 'menu.html' %}

    <div id="body">
        <!-- Page Content -->
        <div class="container-flex">
            <div class="row justify-content-center justify-content-md-start">
                {% block page_content %}{% endblock %}
            </div>
        </div>
    </div>

    {% include 'footer.html' %}
</body>
</html>