root {
    --brown-dark: #73626E;   /* Muted brown with a purple tint */
    --brown-light: #A69485;  /* Soft, earthy brown */
    --blue: #A8A9BF;         /* Subdued lavender-blue */
    --orange-dark: #F2E7C4;  /* Warm beige tone */
    --orange-light: #F2F2F2; /* Light neutral off-white */
    --text-color: #797D70;   /* Muted greenish-gray */
}
